<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->
<style media="screen">
  li {
    background-color: wheat;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    font-family: sans-serif;
  }
</style>

<h1>{{head}}</h1>

<ul>
{{#each animal }}
  <h2>{{animalType}}</h2>
  <li>pet : {{pet}}</li>
  <li>fierceness : {{fierceness}}</li>
  <br>
{{/each}}
</ul>
